<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">CSI-DMCE BADGES</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi repudiandae </p>
        <a href="/admin/login" class="btn btn-primary">Admin Login</a>
        <a href="/users" class="btn btn-danger">Search user</a>
    </div>
</div>
<div class="container-fluid border border-dark">
    <div class="row">
        <div class="col-md-7 border border-dark">
            <div class="container border border-dark">
                <h3>Upcoming events</h3>
                {{#each y}}
                <div class="row">
                    <div class="col-md-2 border border-dark">
                        <h3>{{this.event_date}}</h3>
                    </div>

                    <div class="col-md-10 border border-dark">

                        <p>{{this.event_name}}</p>
                        <p>{{this.event_short_description}}</p>
                        <p>{{this.event_description}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-5 border border-dark">

            <br>
            <div class="container border border-dark">
                <h3 class="text-center">Leaderboard</h3>
                <div class="container border border-dark">
                    {{#each x}}
                    <li>{{this.name}} {{this.c_count}}</li>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>